[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
numpy = "*"
mpl-point-clicker = "*"

[dev-packages]

[requires]
python_version = "3.8"
